<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- MDB CSS -->
  <link rel="stylesheet" href="/assets/css/mdb.min.css" />
  <link rel="stylesheet" href="/assets/css/master.css" />
  <link rel="stylesheet" href="/assets/css/form.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
  <title>Form Isi Data</title>
</head>

<body>
  <header class="header">

  </header>
  <div class="container main-container">
    <div class="col-12 col-md-8">
      <div class="card card-container mb-5">
        <form action="/form/{{ kelas }}/add" method="post" enctype="multipart/form-data">
          <div class="card-header">
            <a href="/" class="card-header-back"><i class="fas fa-arrow-left mr-2"></i><span
                class="card-header-text">KEMBALI</span></a>
          </div>
          <div class="card-body">
            <div class="input-group mt-2">
              <span class="input-group-text input-icon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" name="namaLengkap" placeholder="Nama Lengkap" autofocus required />
            </div>
            <div class="input-group mt-3">
              <span class="input-group-text input-icon"><i class="fa fa-id-card"></i></span>
              <input type="number" class="form-control" name="NIS" placeholder="NIS" required>
              <span class="input-group-text">/</span>
              <input type="text" class="form-control" name="NIS2" placeholder="Absen TU" required>
              <span class="input-group-text">-</span>
              <input type="number" class="form-control" name="NISN" placeholder="NISN" required>
            </div>
            <div class="input-group mt-3">
              <span class="input-group-text input-icon"><i class="fas fa-cogs"></i></span>
              <select class="select form-control" name="komp_keahlian" required>
                <option value="{{ komp_keahlian }}" selected>{{ komp_keahlian }}</option>
              </select>
            </div>
            <div class="input-group mt-3">
              <span class="input-group-text input-icon"><i class="fa fa-calendar-day"></i></span>
              <input type="text" class="form-control" name="tempatLahir" placeholder="Tempat Lahir" required>
              <input type="number" class="form-control" name="tglLahir" placeholder="Tanggal" required>
              <select class="select form-control" name="blnLahir" required>
                <option value="Januari">Januari</option>
                <option value="Februari">Februari</option>
                <option value="Maret">Maret</option>
                <option value="April">April</option>
                <option value="Mei">Mei</option>
                <option value="Juni">Juni</option>
                <option value="Juli">Juli</option>
                <option value="Agustus">Agustus</option>
                <option value="September">September</option>
                <option value="Oktober">Oktober</option>
                <option value="November">November</option>
                <option value="Desember">Desember</option>
              </select>
              <input type="number" class="form-control" name="thnLahir" placeholder="Tahun" required>
            </div>
            <div class="input-group mt-3">
              <textarea rows="5" class="form-control" name="alamat" placeholder="Alamat" required></textarea>
            </div>
          </div>
          <div class="card-footer pb-3">
            <input type="reset" class="btn btn-action btn-reset shadow-0 mr-3" />
            <input type="submit" class="btn btn-action btn-submit shadow-0" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="footer text-center">
    <div class="footer-text pt-3">
      <p>
        < /> with ♥ by <a href="#">standinshd</a></p>
    </div>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then MDB JS -->
  <script src="/assets/js/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="/assets/js/mdb.min.js"></script>
</body>

</html>