.btn-go {
  background: #df5353;
  color: white;
}
.card-container {
  box-shadow: 5px 5px 45px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}
.card-header {
  border-bottom: 0;
  background: #df5353;
  padding: 15px;
}
.card-header-back {
  color: rgba(255, 255, 255, 1);
}
.card-header-back:hover {
  color: rgba(255, 255, 255, .8);
}
.card-header-text {
  font-weight: 500;
}
