.modal-header,
.modal-footer {
  border: 0;
}
.card-footer {
  border-top: 0;
  padding: 0;
}
.card-footer > .btn {
  border-radius: 0;
}

.card-container {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px 15px 0 0;
}
.btn-action {
  font-size: 1rem;
}
.btn-add {
  background: #adcbe3;
  color: white;
}
.btn-print {
  background: #df5353;
  color: white;
}
.btn-validate {
  background: #e5c863;
  color: white;
}
.btn-class-add {
  background: #adcbe3;
  color: white;
}
.btn-login-login {
  background: #df5353;
  color: white;
}
.btn-validasi {
  background: #e5c863;
  color: white;
}
.login-alert, .class-alert, .print-alert, .validate-alert {
  background: #df53533b;
  border: 2px solid #df5353;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  animation: fadeIn 500ms ease-in-out;
}
.show-hide-password {
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@media only screen and (max-width: 768px) {
  .card-container-col {
    margin-top: 2rem;
  }
}