.header {
  background: #adcbe3;
  height: 60vh;
  width: 100vw;
  position: absolute;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: #2a4d69;
  color: white;
}
.footer-text p a {
  color: #5faeee;
}
.footer-text p a:hover {
  color: #5295cc;
}
.main-container {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  /* border: 1px solid red; */
}
@media only screen and (max-width: 768px) {
  .main-container {
    min-height: 130vh;
  }
}